* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 500px) {
  .form-container {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .main-content {
    display: none;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .feedback-form {
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input, textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #6c6c6b;
    color: #fff;
    border: none;
    font-size: 1.3rem;
    border-radius: 30px;
    cursor: pointer;
    
  }
  
  button:hover {
    background-color: #000;
  }
  .feedback-form {
    text-align: center;
    margin-top: 20px;
}

#feedbackDisplay {
    margin-top: 20px;
}
    body{
        background-color: #F7F7F7;
        padding: 0 20px;
    }
    .container{
      display: block;
        width: 100%;
        max-width: 400px;
        margin: auto;
        font-family: "Barlow", sans-serif;
    }
    .login-btn{
        padding: 10px 12px;
        background: #EAE9E7;
        border: none;
        margin-top: 10px;
    }
    .login-btn:hover{
      border: 1px solid #EAE9E7;
      background-color: #000;
      color: #fff;
      transition: all 0.37s;
    }
    .map {
        width: 100%;
    }
    .heading {
        position: relative;
    }
    .heading h3::before {
        content: '';
        width: 30px;
        height: 5px;
        position: absolute;
        background: #C3C3C4;
        top: -7px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 25px;
    }
    .heading h3{
        text-align: center;
        text-transform: uppercase;
        margin-top: 20px;
        
    }
    .box{
        border-radius:20px ;
        width: 100%;
        max-width: 330px;
        margin: auto;
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
        background-color: #fff;
    }
    .box h4{
        color:  #767676;
        font-size: 1.2rem;
    }
    .hour {
        padding: 30px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
    }
.hour-text h5{
    color:#767676 ;
}
.hour-text span{
    font-size: 1.2rem;
    font-weight: 600;
}
.details-box{
  padding: 30px;
}
.side-heading {
 padding: 0 30px;
 margin: 15px 0;
}
.details-box h1{
  font-size: 1.2rem;
}
.details-box h2{
    font-size: 1.3rem;
    color: #19ed1cd7;
    margin: 10px 0;
  }
  .humidity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
  }
  .humidity div span {
    width: 40px;
    display: inline-block;
    height: 7px;
    border-radius: 20px;
    margin: 2px ;
    background: #DE0A10;
  }
  .humidity div span:nth-child(2){
    background: #E5FB25;
  }
  .humidity div span:nth-child(3){
    background: #1AEB20;
  }
.details-box h2 {
    text-align: center;
}
.mid-border {
    width: 100%;
    height: 2px;
    background-color: #F2F2F2;
}

.ups {
    text-align: center;
    margin: 10px 0;
}
  .ups img{
    width: 150px;
  }
  .route-details {
    padding: 5px 30px;
  }
  .route-txt div h4 {
    color: #000;
  }
  .route-txt div span{
    font-weight: 600;
  }
  .route h5 {
      padding: 1px 30px;
    color: #D9D9D9;
    font-size: 1.2rem;
  }
  .route-txt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 8px 0;
    text-align: center;
  }
  .ic-route-btn{
    padding: 10px;
    background-color: #D7D7D7;
    color: #fff;
    border: none;
    font-size: 1.3rem;
    border-radius: 30px;
    display: block;
  }
  .location_bg {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #6D7ADD;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .location_bg::after {
    content: '';
    width: 2px;
    height: 5px;
    background-color: #6D7ADD;
    position: absolute ;
    left: 50%;
    transform: translate(-50%);
    bottom: -3px;
  }
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
  }
  .location_bg.active {
    background-color: #1AEB20;
  }

  .bottom-border{
    position: fixed;
    bottom: 0;
    width: 100px;
    height: 6px;
    border-radius: 20px;
    background-color: #000;
    left: 50%;
    transform: translate(-50%);
  }

  #feedbackForm {
    margin-bottom: 100px;
  }
}